body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.flash_success {
      margin-left: 150px;
      background-color: #D3E991;
      border: 1px solid green;
      color: black;
      font-weight: bold;
      font-size: 18px;
      width: 30%;
      padding: 10px;
}
.flash_error {
      margin-left: 150px;
      background-color: red;
      border: 1px solid red;
      color: white;
      width: 30%;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
} 





.comment-box {
  width: auto;
  border: 1px solid black;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: white;
  h5 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #f0f0f0;
    color: black;
  }
  ul li {
    padding: 10px;
    font-size: 12px;
    list-style:square;
    margin-bottom:10px;
  }
  p.com-del{
  float:right;
  margin-right: 0px;
  }
  .com-post{
  float:right;
  }
} 

.art-post{
  float:left;
}


  .site_maintenance{
  background-color:white;
  border:1px solid green;
  color:green;
  padding: 10px;
  float:right;
  width:10%;
  margin-right: 30px;
  }